*{
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
.impressum{
    text-decoration: none;
    color: black;
    position: fixed;
    bottom: 0;
  }
  .footer{
	left: 0;
	width: 100vw;
	height: 15vh;
	border: solid black 1px;
	overflow: hidden;
	position: fixed;
	top: 85vh;
	text-align: center;
	backdrop-filter: blur(15px);
  }
  .container {
    align-items: center;
    display: flex;
    justify-content: center;
}
.background_image{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    z-index: -999;
    position: fixed;
    filter: blur(12px);
    overflow: hidden;
    background-size: cover;
    transform: scale(1.1);
  }
  
h2{
	padding-bottom: 10px;
}


@import url('https://rsms.me/inter/inter.css');
 :root {
	 --color-light: #39ac76c0;
	 --color-dark: #000000;
	 --color-signal: #bdbdbd;
	 --color-background: var(--color-light);
	 --color-text: var(--color-dark);
	 --color-accent: var(--color-signal);
	 --size-bezel: 0.5rem;
	 --size-radius: 4px;
	 line-height: 1.4;
	 font-family: 'Inter', sans-serif;
	 font-size: calc(.6rem + .4vw);
	 color: var(--color-text);
	 background: var(--color-background);
	 font-weight: 300;
	 padding: 0 calc(var(--size-bezel) * 3);
}

 h1, h2, h3 {
	 font-weight: 900;


}
 mark {
	 background: var(--color-accent);
	 color: var(--color-text);
	 font-weight: bold;
	 padding: 0 0.2em;
}
 .card {
	 background: var(--color-background);
	 padding: calc(4 * var(--size-bezel));
	 margin-top: calc(4 * var(--size-bezel));
	 border-radius: var(--size-radius);
	 border: 3px solid var(--color-shadow, currentColor);
     box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
     left: 30vw;
}
 .card--inverted {
	 --color-background: var(--color-dark);
	 color: var(--color-light);
	 --color-shadow: var(--color-accent);
}
 .card--accent {
	 --color-background: var(--color-signal);
	 --color-accent: var(--color-light);
	 color: var(--color-dark);
}
 .card *:first-child {
	 margin-top: 0;
}
 .l-design-widht {
     width: 42rem;
    position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

}
 .input {
	 position: relative;
}
 .input__label {
	 position: absolute;
	 left: 0;
	 top: 0;
	 padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * .5);
	 margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * .5);
	 white-space: nowrap;
	 transform: translate(0, 0);
     transform-origin: 0 0;
    /* background: var(--color-background);*/
	 transition: transform 120ms ease-in;
	 font-weight: bold;
     line-height: 1.2;
     cursor: text;
}
 #input__field {
	 box-sizing: border-box;
	 display: block;
	 width: 100%;
	 border: 3px solid currentColor;
	 padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
	 color: currentColor;
	 background: transparent;
     border-radius: var(--size-radius);

}
 #input__field:focus + .input__label, #input__field:not(:placeholder-shown) + .input__label {
	 transform: translate(0.25rem, -95%) scale(0.8);
	/* color: var(--color-accent);*/
}
 .button-group {
	 margin-top: calc(var(--size-bezel) * 2.5);
}
 button {
	 color: currentColor;
	 padding: var(--size-bezel) calc(var(--size-bezel) * 2);
	 background: var(--color-accent);
	 border: none;
	 border-radius: var(--size-radius);
	 font-weight: 900;
 }

 button::after{
	box-shadow: 0 10px 18px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.5);

 }
 button[type=reset] {
	 background: var(--color-background);
	 font-weight: 200;
}
 button + button {
	 margin-left: calc(var(--size-bezel) * 2);
}
.icon {
	 display: inline-block;
	 width: 1.5em;
     height: 1.5em;
     vertical-align: bottom;
}
 .hidden {
	 display: none;
}









* {
  outline: none;
}

strong {
  font-weight: 600;
}

.page{
	left: 0;
}

header {
  display: flex;
  position: fixed;
  width: 100vw;
  left: 0;
  height: 70px;
  background: #212121;
  color: #fff;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-size: 
  2rem;
}


#nav-container {
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 10px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
	padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #BF7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
	margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}






* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

