<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/exercise_selection.css') }}">
    <title>Choose your topic!</title>
    <script>

    </script>
</head>
<body>
<img src="{{ url_for('static', filename='img/lowpoly-grey-gradient-vector.png') }}" alt="background_exerciseSelection" class="background_image">


 <!-- 
<div class="wrapper">
  <div class="typing-demo">
    Choose your exercise.
  </div>
</div>
 Mein Kommentar -->


  
<div class="box_center">

  <div class="square-border">
      <div class="wrap">
        <a href="selection"><img src="{{ url_for('static', filename='svg/pencil-alt-solid.svg') }}" alt="volume_up_icon" class="square-picture"></a>
          <div class="square-text">Vocabulary</div>  
      </div>
  </div>
  
  <div class="square-border">
    <div class="wrap">
      <a href=""><img src="{{ url_for('static', filename='svg/volume-up-solid.svg') }}" alt="volume_up_icon" class="square-picture"></a> 
        <div class="square-text">Text to Speech</div>
    </div>
  </div>

  <div class="square-border">
    <div class="wrap">
      <a href=""><img src="{{ url_for('static', filename='svg/puzzle-piece-solid.svg') }}" alt="volume_up_icon" style="margin-left: 2vw;" class="square-picture"></a> 
        <div class="square-text">Sentence Construction</div>
    </div>
  </div>
  
</div>      
    
 






<div class="footer">
  <a href="impressum" class="impressum">Impressum</a>
</div>
  
  

</body>
</html>