<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/selection_pages.css') }}">
    <script src="{{ url_for('static', filename='js/readfile.js') }}"></script>
    <title>Choose your exercise!</title>
    <script>

    </script>
</head>
<body>
<img src="{{ url_for('static', filename='img/lowpoly-grey-gradient-vector.png') }}" alt="background_exerciseSelection" class="background_image">

<section id="page">
  <header> <div class="typing-demo">Choose your Topic</div> </header>

  <main>
       <div class="square-border">
            <div class="selection_text">Vocabulary</div>  
        </div> 
        <div class="square-border">
          <div class="selection_text">Vocabulary</div>  
      </div> 
      <div class="square-border">
        <div class="selection_text">Vocabulary</div>  
    </div> 
    <div class="square-border">
      <div class="selection_text">Vocabulary</div>  
  </div>      
  </main>
</section>
<!--
<div class="box_center">

  <div class="wrapper">
     <div class="typing-demo">
      Choose your topic.
    </div> 
  </div>

  <div class="wrapper2">

  </div>   
</div>      
-->





<div class="footer">
  <a href="impressum" class="impressum">Impressum</a>
</div>
  
  

</body>
</html>