<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/selection.css') }}">
    <script src="{{ url_for('static', filename='js/readfile.js') }}"></script>
    <title>Choose your exercise!</title>
    <script>

    </script>
</head>
<body>
<img src="{{ url_for('static', filename='img/lowpoly-grey-gradient-vector.png') }}" alt="background_exerciseSelection" alt="background_exerciseSelection" class="background_image">

<section class="page">
  
  <header> 
    <div class="typing-demo">Choose your {{headline}}</div> 
  </header>

  <main id="main">
    {%for i in range(num)%}
      <div class="square-border">
          <div class="selection_text">{{namelist[i]}}</div>  
      </div> 
    {% endfor %}   
  </main>
  <main id="main2"></main>
</section>
<!--
<div class="box_center">

  <div class="wrapper">
     <div class="typing-demo">
      Choose your topic.
    </div> 
  </div>

  <div class="wrapper2">

  </div>   
</div>      
-->





<div class="footer">
  <a href="impressum" class="impressum">Impressum</a>
</div>
  
  

</body>
</html>