<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Interaktives Englischlernen</title>
        <meta charset="utf-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='style/selection.css') }}" rel="stylesheet">


        <!-- Bootstrap CSS  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"-->
        <link href="{{ url_for('static', filename='style/bootstrap.min.css') }}" rel="stylesheet">
        
        <!-- Scripts -->
        <script src="{{ url_for('static', filename='js/selection.js') }}"></script>
        {% if selection_type == "vocabulary" or selection_type == "audio" %}
            <script src="{{ url_for('static', filename='js/util.js') }}"></script>
        {% endif %}
    </head>

    <body>
        <div id="headline" class="container-fluid">
            <h1 class="text-center display-1 pt-5 pb-5">{{headline}}</h1>
        </div>

        <div class="container-xl">
            <div class="row justify-content-center content-table">
                {% if selection_type == "book" %}
                {% for i in range(num) %}
                <div class="col-xl-2 col-md-4 col-sm-6 col-xs-12 mt-3">
                    <a href="#">
                        <div class="position-relative border border-2 border-secondary selection-switch shadow">
                            <input class="form-check-input position-absolute" type="checkbox" value="">
                            <h3 class="position-absolute text-dark text-center start-50 top-50 w-100 translate-middle">{{namelist[i]}}</h3>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% endif %}


                {% if selection_type == "topic" or selection_type == "unit" %}
                {% for i in range(num) %}
                <div class="col-xl-2 col-md-4 col-sm-6 col-xs-12 mt-3">
                    <a href="#">
                        <div class="position-relative border border-2 border-secondary selection-switch shadow">
                            <input class="form-check-input position-absolute" type="checkbox" value="">
                            <h3 class="position-absolute text-dark text-center start-50 top-50 w-100 translate-middle">{{namelist[i]}}</h3>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% endif %}


                {% if selection_type == "language" %}
                {% for i in range(num) %}
                <div class="col-xl-2 col-md-4 col-sm-6 col-xs-12 mt-3">
                    <a href="#">
                        <div class="position-relative border border-2 border-secondary selection-switch shadow">
                            <input class="form-check-input position-absolute" type="checkbox" value="">
                            <h3 class="position-absolute text-dark text-center start-50 top-50 w-100 translate-middle">{{namelist[i]}}</h3>
                        </div>
                    </a>
                </div>
                {% endfor %}
                {% endif %}


                {% if selection_type == "amount" %}
                <div class="col-md-6 col-sm-12 border border-2 border-secondary range-selection">
                    <label for="customRange1" class="form-label display-6" data-text="Amount"></label>
                    <input type="range" class="form-range" min="1" max="{{amount}}" step="1" value="{{10 if amount >= 10 else amount}}" id="customRange1">
                </div>
                {% endif %}


                {% if selection_type == "vocabulary" %}
                <div class="col-md-6 col-sm-12 border border-2 border-secondary text-selection">
                    <label for="controlTextarea1" class="form-label display-6 pb-3">{{word}}</label>
                    <textarea class="form-control mb-3 border-secondary" id="controlTextarea1" rows="3" style="resize: none;" spellcheck="false"></textarea>
                </div>
                {% endif %}


                {% if selection_type == "audio" %}
                <div class="col-md-6 col-sm-12 border border-2 border-secondary text-selection">
                    <button class="btn" data-audio="{{phrase}}">
                        <img src="{{ url_for('static', filename='media/volume-up-solid.svg') }}" class="icon-style" alt="volume up">
                    </button>
                    
                    <button class="btn">
                        <img src="{{ url_for('static', filename='media/turtle.svg') }}" class="icon-style" alt="turtle">
                    </button>

                    <textarea class="form-control mb-3 border-secondary" id="controlTextarea1" rows="3" style="resize: none;" spellcheck="false"></textarea>
                </div>
                {% endif %}

                <!--
                Sentence construction
                
                <div class="col-md-6 col-sm-12 border border-2 border-secondary text-construction pb-2">
                    <p class="display-6" data-words="Wir sind ein mittelständisches Unternehmen in der IT-Branche">We are a medium-sized company in the IT sector</p>
                </div>
                -->

                <!--
                Textarea

                <div class="col-md-6 col-sm-12 border border-2 border-secondary text-selection">
                    <label for="controlTextarea1" class="form-label display-6 pb-3">to maintain</label>
                    <textarea class="form-control mb-3 border-secondary" id="controlTextarea1" rows="3" style="resize: none;"></textarea>
                </div>
                -->
                
                <!--
                Range
                
                <div class="col-md-6 col-sm-12 border border-2 border-secondary range-selection">
                    <label for="customRange1" class="form-label display-6" data-text="Dein Text"></label>
                    <input type="range" class="form-range" min="1" max="729" step="1" value="10" id="customRange1">
                </div>
                -->
                
                <!--
                Checkbox

                <div class="col-xl-2 col-md-4 col-sm-6 col-xs-12 mt-3">
                    <a href="#">
                        <div class="position-relative border border-2 border-secondary selection-switch shadow">
                            <input class="form-check-input position-absolute" type="checkbox" value="">
                            <h3 class="position-absolute text-dark text-center start-50 top-50 w-100 translate-middle">Dein Text</h3>
                        </div>
                    </a>
                </div>
                -->
            </div>
        </div>

        <footer class="container-xl bottom-0 pt-5 mt-5">
            <div class="row justify-content-center">
                <div class="position-relative col-sm-6 col-xs-12">
                    <a class="position-absolute w-25 text-center start-50 translate-middle-x" href=''>
                        <div class="btn position-relative btn-outline-success border border-success shadow-lg btn-lg">
                            Home
                        </div>
                    </a>
                </div>
                <div class="position-relative col-sm-6 col-xs-12">
                    <a class="position-absolute w-25 text-center start-50 translate-middle-x" id="checkButton" href='#'>
                        <div class="btn btn-outline-success position-relative border border-20 border-success shadow-lg btn-lg">
                            {% if selection_type == "vocabulary" or selection_type == "audio" %} Check {% else %} Continue {% endif %}
                        </div>
                    </a>
                </div>
            </div>
        </footer>

        <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

        <script>
            let checkButtonClick = () => {};
            let speechButton = () => {};
        </script>


        {% if selection_type == "book" or selection_type == "topic" or selection_type == "unit" or selection_type == "language" %}
            <script>
                checkButtonClick = () => {
                    let switches = document.getElementsByClassName("selection-switch");
                    let items = [];

                    for(let i = 0; i < switches.length; i++)
                        if(switches[i].getElementsByTagName("input")[0].checked)
                            items.push(switches[i].getElementsByTagName("h3")[0].innerText);

                    let url = "{{href}}?{{selection_type}}=" + encodeURIComponent(items.join(","));

                    if(items.length > 0)
                        window.location.href = url;
                };
            </script>
        {% endif %}

        {% if selection_type == "amount" %}
            <script>
                checkButtonClick = () => {
                    window.location.href = `{{href}}?amount=${document.getElementById("customRange1").value}`;
                };
            </script>
        {% endif %}

        {% if selection_type == "audio" %}
            <script>
                let textSelection = document.getElementsByClassName("text-selection")[0];
                let buttons = textSelection.getElementsByClassName("btn");
                var voices = window.speechSynthesis.getVoices();

                window.speechSynthesis.onvoiceschanged = function() {
                    voices = window.speechSynthesis.getVoices();
                };

                speechButton = (speed) => {
                    let audioText = buttons[0].dataset.audio;

                    var msg = new SpeechSynthesisUtterance();
                    msg.voice = voices[5]; // Note: some voices don't support altering params
                    msg.volume = 1; // 0 to 1
                    msg.rate = speed; // 0.1 to 10
                    msg.pitch = 1; //0 to 2
                    msg.text = audioText;
                    msg.lang = 'en-US';
                    speechSynthesis.speak(msg);
                };

                buttons[0].addEventListener("click", () => { speechButton(1.2) });
                buttons[1].addEventListener("click", () => { speechButton(0.6) });
            </script>
        {% endif %}

        <script>
            checkHref = "{{href}}"
            document.getElementById("checkButton").addEventListener("click", checkButtonClick);
        </script>
    </body>
</html>