<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style/performance.css') }}">
    <title>Choose your exercise!</title>
</head>
<body>
    <img src="{{ url_for('static', filename='img/lowpoly-grey-gradient-vector.png') }}" alt="background_vocabulary" class="background_image">
        <article class="l-design-widht">        
            <div class="card">
                <h1>Vocabulary test</h1>  
              <div class="card card--accent">
              <h2> <img src="{{ url_for('static', filename='svg/12837215941548336240.svg') }}" alt="svg" class="icon"> Englische Vokabel</h2>
              <label class="input">
                <input class="input__field" type="text" placeholder=" " />
                <span class="input__label">German word...</span>
              </label>
              
              <div class="button-group">
                <button>Check</button>
                <button type="reset">Reset</button>
              </div>
            </div>
          </article>

          <div class="page">
            <header tabindex="0">English for IT-Jobs</header>
            <div id="nav-container">
              <div class="bg"></div>
              <div class="button" tabindex="0">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </div>
              <div id="nav-content" tabindex="0">
                <ul>
                  <li><a href="home">Home</a></li>
                  <li><a href="impressum">Impressum</a></li>
                  <li><a href="exercise_selection">Exercise</a></li>
                </ul>
              </div>
            </div>
          </div>





</body>
</html>