html, body {
    margin: 0;
    height: 100%;
}

body {
    background-image: url("../media/grey_poligon_background.png");
    background-size: auto;
    backdrop-filter: blur(5px);
}

.content-table a > div {
    width: 100%;
    padding-top: 100%;
}

.selection-button, .selection-switch {
    border-radius: 25px;
    background-color: white;
    transition: 0.2s;
}

.selection-button:hover, .selection-switch:hover {
    background-color: #ededed;
    transition: 0.2s;
}

.selection-switch .form-check-input {
    top: 5%;
    left: 5%;
}

.range-selection, .text-selection, .text-construction {
    background-color: white;
    border-radius: 10px;
}

.text-construction p {
    font-size: 2.2em !important;
}

.function-button {
    border-radius: 10px;
    background-color: rgb(144, 197, 59);
    transition: 0.05s;
}

.function-button:hover {
    background-color: rgb(125, 170, 52);
    transition: 0.05s;
}


a, a:link, a:visited, a:hover, a:active {
    text-decoration: none !important;
}

.top-40 {
    top: 40%;
}

.top-75 {
    top: 75%;
}